@font-face {font-family: Calibre; src:url('/fonts/Calibre-Regular.otf');}
@font-face {font-family: Calibre; font-weight: 500; src:url('/fonts/Calibre-Semibold.otf');}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#F44336;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Text*/

h3 {
    font-family: Calibre;
    font-weight: 500;
	font-size:24px;
	letter-spacing: 0px;
	color:#FFFFFF;
    text-align:left;
    position: fixed;
    top:0px;
    left:20px;
}
#loadingtext {
	font-family: Calibre;
    font-weight: 500;
	font-size:24px;
	line-height: 31px;
	letter-spacing: 1.2px;
	color:#FFFFFF;
}

#descriptiontext {
    padding-top:15%;
	font-family: Calibre;
	font-size:21px;
	line-height: 32px;
	letter-spacing: 1.05px;
	color:#FFFFFF;
}


/*Button*/

#camerabtn {
	background-color:#F44336 !important;
	border-color:#FCE4EC !important;
	border-radius:4px;
	border-style:3px, solid !important;
	font-family:Calibre-Regular !important;
	text-align: center;
	font-size: 24px !important;
	font-weight: normal;
    content:'Feed me';

}
	
#directionsbtn {
	background-color:#F44336;
	border-color:#FFFFFF;
	border-style:2px, solid ;
	font-family:Calibre-Regular;
	text-align: center;
	font-size: 24px; 

}

/*Footer*/
footer {
    position:absolute;
    bottom:0px;
}

/*Camera Button*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}