@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="logo">
    <h3>hangry</h3>
</div>

<div class="row" id="descriptiontext">
    <p>Send us a photo to measure your hangriness.<br>Find places to eat.</p>
</div>

<div class="btn row" id="camera">
    <label class="filelabel">
        Feed Me!
        <input class="inputfile" type="file" name="file"accept="image/*" capture="camera">
    </label>
</div>

<div>
    @Html.ActionLink("Click Here For Results", "Results")
</div>

<div>
    @Html.ActionLink("Click Here For Loading", "Loading")
</div>
