@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="logo">
    <h3>hangry</h3>
</div>

<div class="row" id="descriptiontext">
    <p>Send us a photo to measure your hangriness.<br>Find places to eat.</p>
</div>

<div class="btn row" id="camerabtn">
     <input type="file" accept="image/*" capture="camera">
</div>