@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Hangry</h3>
</div>

<div class="jumbotron">
    <p class="lead">"One button to feed them all..."</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
     <input type="file" accept="image/*" capture="camera">
</div>