@{
    ViewBag.Title = "Home Page";
}

<div id="logo">
    <h3>Hangry.</h3>
</div>

<div class="message" id="descriptiontext">
    <p>Send us a photo to measure our hangriness.<br>Find places to eat.</p>
</div>

<div class="btn" id="camerabtn">
     <input type="file" accept="image/*" capture="camera">
</div>