@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="logo">
    <h3>Hangry</h3>
</div>

<div class="row" id="descriptiontext">
    <p>Send us a photo to measure our hangriness.<br>Find places to eat.</p>
</div>

<div class="btn row" id="camera">
     <input type="file" accept="image/*" capture="camera" id="camerabtn">
</div>

<div>
    @Html.ActionLink("Click Here For Results", "Results")
</div>

<div>
    @Html.ActionLink("Click Here For Loading", "Loading")
</div>
