@{
    ViewBag.Title = "Loading";
}

<div class="row" id="logo">
    <h3>hangry</h3>
</div>

<div class="row" id="picture">
    <img src="~/Content/chef-1.svg"/>
</div>

<div class="row" id="loading">
    <p id="loadingtext"></p>
</div>
