@{
    ViewBag.Title = "Loading";
}

<div class="row" id="logo">
    <h3>Hangry</h3>
</div>

<div class="row" id="picture">
    <img src="" />
</div>

<div class="row" id="loading">
    <p id="loadingtext"></p>
</div>
