@{
    ViewBag.Title = "Results";
}

<div class="row" id="logo">
    <h3>hangry</h3>
</div>

<div class="row" id="picture">
    <img src="~/Content/chef-2.svg" />
</div>

<div class="row" id="mood">
    <p id="moodtext"></p>
</div>

<div class="row" id="result">
    <p id="resulttext"></p>
</div>

<div class="row" id="location">
    <p id="locationtext"></p>
</div>


<div class="btn row" id="location">
    <button type="button" id="locationbtn">get directions</button>
</div>

<div class="btn row" id="try">
    <button type="button" id="trybtn">try again</button>
</div>