
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" accept="image/*" capture="camera" name="image">
    <input type="hidden" value="37.1231" name="lat" />
    <input type="hidden" value="123.456" name="lon" />
    <input type="submit" />
</form>